.chatIcon {
    width: 3vw;
}

.chatNav {
    display: flex;
    justify-content: space-around;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#container {
    margin-top: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}